{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="{% url 'set_language' %}" method="post" class="form">
    {% csrf_token %}
   <input type="hidden" class="lang" name="next" value="{{ redirect_to }}">
  <select name="language" class="ok">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for i in languages %}
    <option value="{{i.code}}"{% if i.code == LANGUAGE_CODE %}selected{% endif %}>{{i.name_local}}({{i.code}})</option>
    {% endfor %}
  </select>
  </form>
  {% get_current_language as LANGUAGE_CODE %}
  {{LANGUAGE_CODE}}
  <p>{% translate "Welcome to our page" %}</p>
  
<script>
  document.querySelector(".ok").addEventListener("change", (e) => {
    document.querySelector(".form").submit()
  })
</script>
</body>
</html>